@page "/dynamicform"
@using Hosted.Shared
<h1>Dynamic form</h1>

@if (form == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var element in form.Elements)
            {
                <tr>
                    <td>@element.Label</td>
                    @switch (element.ElementType)
                    {
                        case "TextInput":
                            {
                                if (!ElementValues.ContainsKey(element.Name))
                                    ElementValues.Add(element.Name, (element as TextInput).Value);

                                <td><Hosted.Client.Components.TextInput Name="@element.Name" 
                                                                        PlaceHolder="@((element as TextInput).PlaceHolder)"
                                                                        Value="@((element as TextInput).Value)"
                                                                        /></td>

                                break;
                            }
                        case "RadioButton":
                            {
                                <td><Hosted.Client.Components.RadioButton Name="@element.Name" Options="@((element as RadioButton).Options)" /></td>
                                break;
                            }
                        default:
                            {
                                <td>Unknow control</td>
                                break;
                            }
                    }
                </tr>
            }
            <tr>
                <td colspan="2">
                    <button class="btn btn-primary" @onclick="Submit">Submit</button>
                </td>
            </tr>
            @if (!string.IsNullOrEmpty(strForm))
            {
                <tr>
                    <td colspan="2">
                        <p>Form: @strForm</p>
                    </td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(serverRequest))
            {
                <tr>
                    <td colspan="2">
                        <p>Request from server: @serverRequest</p>
                    </td>
                </tr>
            }
            @if (!string.IsNullOrWhiteSpace(serverResponse))
            {
            <tr>
                <td colspan="2">
                    <p>Response from server: @serverResponse</p>
                </td>
            </tr>
            }
        </tbody>
    </table>
}